@import './var';
.swiper-slider-block {
    position: relative;
}

.swiper-slide-slider-block img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-slider-block {
    position: absolute;
}

button.arrow.arrow-next.swiper-button-next.swiper-button-slider-block.swiper-button-slider-block-next {
    right: 40px;
}

button.arrow.arrow-prev.swiper-button-prev.swiper-button-slider-block.swiper-button-slider-block-prev {
    left: 40px;
}

.swiper-pagination-slider-block.swiper-pagination-clickable.swiper-pagination-bullets {
    margin-top: 10px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    margin-right: 10px;

    &::before {
        background-color: gray;
    }

    &:last-child {
        margin-right: 0;
    }

}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    background-color: #05141F;
}

.hero-model-promo-title {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;
    margin: 10px 0;
    color: white;
}

.model-video {

    // width: 100%;
    // height: 500px;
    // margin-bottom: 80px;
    video {
        width: 100%;
    }
}

.model-sections-inner-video {
    margin-bottom: 100px;
}

.callback-news {
    .callback-input {
        margin-bottom: 20px;
    }
}

.callback-sportage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hero-slider-item_right {
    position: relative;
    color: $white;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background: linear-gradient(-90deg, rgba(0, 0, 0, .75), transparent);
        z-index: 1;

        @media screen and (max-width: 1199px) {
            display: none;
        }
    }

    .info {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 50px 160px;
        z-index: 2;

        &-top {
            align-items: end;

            @media screen and (max-width: 1199px) {
                align-items: flex-start;
            }
        }

        align-items: end;

        .slider-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 110%;
            color: #fff;
            margin-bottom: 20px;
        }

        .slider-description {
            font-size: 18px;
            display: inline-block;
            color: #fff;

            @media screen and (max-width: 1199px) {
                margin-bottom: 40px;
            }
        }

        @media screen and (max-width: 1199px) {
            position: relative;
            padding: 20px 15px;
            align-items: flex-start;
        }
    }

}

.callback-form-row {
    width: 100%;
    .input-date[type="date"] {
        &::before {
            content: attr(placeholder);
        }
    }
    .select-form {
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
        font-size: 14px;
        color: #666;
        transition: .3s ease;

        option {
            font-family: 'KIA';
            color: #666;
            background-color: white;
            font-size: 14px;
        }
    }
    .input-email {
        color: #666;
        border: none;
        border-bottom: 1px solid #ccc;
        width: inherit;
        padding: 5px 0;
        font-size: 14px;
    }
    .textarea-form {
        border: none;
        border-bottom: 1px solid #ccc;
        width: inherit;
        padding: 5px 0;
        font-size: 14px;
        width: 100%;
    }
}

.hero-btn {
    @media screen and (max-width:991px) {
        margin-top: 30px;
    }
}

.page-hero-title-sub {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}


.model-sections-inner-new {
    padding-top: 80px;
    padding-left: 180px;
    padding-right: 180px;

    @media screen and (max-width:991px) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media screen and (max-width: 767px) {
        padding-left: 55px;
        padding-right: 55px;
    }

    @media screen and (max-width: 524px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.model-sections-title-headers {
    font-size: 35px;

    @media screen and (max-width:500px) {
        font-size: 30px;
    }
}

.model-sections-ul-list {
    margin-top: 30px;
    border-top: 1px solid #cdd0d2;

    li {
        display: flex;
        justify-content: space-between;
        list-style: none;
        border-bottom: 1px solid #cdd0d2;
        padding-top: 20px;
        padding-bottom: 30px;

        @media screen and (max-width:767px) {
            flex-direction: column;
        }

        .model-sections-ul-list-left {
            display: flex;
            flex: 0 0 40%;

            @media screen and (max-width:767px) {
                margin-bottom: 10px;
            }

            .model-sections-ul-list-left-number {
                font-size: 18px;
                line-height: 139%;
                color: #5d7d2b;
                margin-right: 20px;
                font-weight: 700;
            }

            .model-sections-ul-list-left-title {
                font-size: 18px;
                line-height: 139%;
                font-weight: 700;
            }
        }

        .model-sections-ul-list-right {
            flex: 0 0 60%;
            font-family: KiaSignatureRegular, sans-serif;
            font-size: 15px;
        }
    }
}

.model-sections-texts-block {
    display: flex;
    justify-content: space-between;

    .model-sections-two {
        @media screen and (max-width:1200px) {
            margin-top: 30px;
        }
    }
}

.model-sections-two-first-img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.model-sections-two-second-block {
    a {
        display: block;
        width: 180px;
        height: 53px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.model-sections-list-block {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width:1105px) {
        grid-template-columns: 1fr;

        .model-sections-list-image {
            justify-content: center;
        }
    }
}

// Date input

.w {
    &-100 {
        width: 100%;
    }
}
.hidden {
    display: none;
}


// Content header

.header-model-menu-main {
    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: end;
        gap: 5px;
        text-align: end;
    }
}