// COLORS
$red: #BF0C0D;
$lgray: #F2F2F2;
$white: #FFFFFF;
$d_white: #9BA1A5;
$black: #060606;
$gray: #CCCCCC;
$dgray: #666666;
$dark: #05141F;
$green: #5D7D2B;
$yellow: #F3C300;
// $green: #4ba29a;
$disabled: #999;
$pattensBlue: #D9E1E5;
$light_text: #333;