.accessories {
    &-card {
        .img {
            img {
                height: 310px;
            }
        }
    }
}

.query-input {
    border: 1px solid #cdd0d2;
    padding: 0 15px;
    line-height: 100%;
    height: 40px;
    text-transform: uppercase;
}