@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureBold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureRegular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureRegular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KIA';
    src: url('../fonts/fonts-updated/KiaSignatureRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}